@include media-md {
	.menu-btn {
		visibility: hidden;
	}
	
	.nav {
		visibility: visible;
		background: transparent;
		transform: translateY(0);
		height: auto;
		justify-items: end;
		padding-right: 2.5rem;
		padding-top: 1.1rem;
		
		.menu-nav {
			visibility: visible;
			transform: translateY(0);
			background: transparent;
			grid-template-columns: repeat(4, 1fr);
		}
	}
	
	.projects {
		&__bio-image {
			height: 50vh;
			align-items: end;
		}
		
		&__items {
			grid-template-columns: repeat(2,1fr);
		}
	}
	
	.contact {
		&__list {
			grid-template-columns: repeat(3,1fr);
			column-gap: 0;
			justify-items: center;
			align-items: center;
		}
	}
}


@include media-lg {
	.projects {
		&__bio-image {
			height: 50vh;
		}
		&__items {
			width: 70vw;
			grid-template-columns: repeat(3,1fr);
		}
	}
}

@include media-xl {
	
} 